<h1 class="h1 text-center">Register</h1>
<div class="container">
  <div class="row">

  <h2 class="h2 text-center">Enter Registration Information Below: </h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:users, url: '/register') do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %><br><br>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %><br><br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br><br>
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
  <hr>

  <p class="text-center">New user? <%= link_to "Sign up now!", login_path %></p>
</div>
