<!DOCTYPE html>
<html>
  <head>
    <title>SetState</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <% if !logged_in? %>
                    <li><%= link_to 'Register', register_path %></li>
                    <li><%= link_to 'Login', login_path %></li>
                <% end %>
                  <li><%= link_to "Home", root_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if logged_in? %>
                  <li><%= link_to "#{current_user.username.capitalize}" %></li>
                  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                <% end %>

              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>

   </div>

    <%= yield %>
  </body>
</html>
