<!DOCTYPE html>
<html>
  <head>
    <title>SetState</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div>
      <header>
        <nav>
          <span class="nav_links_span">
            <% if logged_in? %>
              <p>
                <%= link_to "#{current_user.username}" %>
              </p>

              <p>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </p>

            <% else %>
              <%= link_to 'Register', register_path %>
              <p>
                <%= link_to 'Login', login_path %>
              </p>
            <% end %>
            <p>
              <%= link_to "Home", root_path %>
            </p>
            </span class="nav_links">
        </nav>
      </header>
   </div>

    <%= yield %>
  </body>
</html>
